body{
    height: 100vh;
    background-color: rgb(103, 103, 224);
    color: #fff;
    position: relative;
    overflow: hidden;
}

nav {
    padding: 1rem 3rem;
}

main {
    color :#000;
}

.cards .card{
    width: 320px;
    background-color: rgb(84, 84, 248);
    color: #fff;
    font-size: 1.3rem;
}

.card img{
    width: 100%;
    display: block;
    cursor: pointer;
}

.ivy_pop{
    height: 100vh;
    position: absolute;
    width: 100vw;
    background-color: rgba(103, 103, 224, 0.8);
    color: #fff;
}

.ivy_close_btn{
    position: absolute;
    top: 50px;
    right: 50px;
    border: 2px solid #fff;
    background: none;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    padding: 0.5rem 1rem;
}

.ivy_pop .card{
    background: none;
    box-shadow: none;
    border: none;
}